*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}

:root {
    --bg-primary: aqua;
    --bg-secondary: #eaeaea;
    --txt-primary: #f7f7f7f7;
    --txt-secondary: #222222;
    --icons-bg-primary: tomato;
    --icons-bg-secondary: #777777;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 40%;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.center {
    text-align: center;
}

.icons {
    margin-top: 4px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}

.title {
    font-size: 2em;
}

.deskription {
    margin-top: 8px;
    font-size: .6em;
}

.btn {
    padding: 8px 22px;
    border-radius: 6px;
    background: var(--icons-bg-primary);
    transition: all 0.2s ease;
    padding: 1%;
}

button:active {
    transform: scale(0.96);
}

.crosshair {
    cursor: pointer;
}

@media screen and (max-width: 476px) {
    .card {
        width: 75%;
    }

    .title {
        font-size: 3em;
    }

    .deskription {
        font-size: 1em;
        margin-top: 6px;
    }

    .icons {
        font-size: 26px;
    }

    .btn {
        padding: 15px;
    }
}